# System Files
.DS_Store
Thumbs.db

# IDE/Editor Folders
.vscode/
.idea/
*.sublime-*

# Node.js
node_modules/
npm-debug.log*

# Environment Variables
.env
.env.local

# Build/Deploy Folders
dist/
build/ 